html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    position: relative;  
    transform: translate(-6.75em, 0em);
    width: 1em;
    height:40em;
    background-color: blue;
    box-shadow: 13.5em 0em 0 0em blue;
    margin: 0 auto;
}

.gird::before, .grid::after {
    content: '';
    position: absolute;
    top: 0%;
    left: 50%;
    width: 40em;
    height: 1em;
    background-color: blue;
}

.grid::after {
    transform: translate(-18.25em , 7.75em);
    box-shadow: 0em 13.5em 0 0em blue;
    margin: 5em;
}