.grid {  
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-6.665em, 20em);
    width: 1em;
    height:40em;
    background-color: blue;
    box-shadow: 13.33em 0em 0 0em blue;
    margin: 0 auto;
}

.gird::before, .grid::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 40em;
    height: 1em;
    background-color: blue;
    transform-origin: center;
}

.grid::after {
    transform: translate(-18.25em , 6.665em);
    box-shadow: 0em 13.33em 0 0em blue;
    margin: 5em;
}